html {
	font-size: 10px;
	font-family: 'Piazzolla', serif;
	background-color: #00539F;
}
img{
	width: 200px;
	display: block;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 60px;
}

p, li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

a:hover{
	text-shadow: 10px;
}

body{
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}

h1{
	margin: 0;
	padding: 20px;
	color: #00539F;
	text-shadow: 3px 1px 1px gray;
}